{# templates/proveedor/index.html.twig #}

{% extends 'base.html.twig' %}


{% block stylesheets %}
    <style>
        /* Estilos para la tabla */
        .table-responsive {
            overflow-x: auto;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .table th, .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }
        .table th {
            background-color: #f8f9fa;
            font-weight: bold;
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f2f2f2;
        }
        .table-striped tbody tr:hover {
            background-color: #e2e6ea;
        }
        h1 {
            text-align: center;
            align-content: center;
            font-size: 2.5em;
        }
    </style>
{% endblock %}

{% block title %}Lista de Proveedores{% endblock %}

{% block body %}
    <h1>Lista de Proveedores</h1>

    <div class="container">
        <div class="row">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('proveedor_create') }}'">Añadir Usuario</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                    <th>Tipo</th>
                    <th>Activo</th>
                    <th>Creado en</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.correoElectronico }}</td>
                        <td>{{ proveedor.telefono }}</td>
                        <td>{{ proveedor.tipo }}</td>
                        <td>{{ proveedor.activo ? 'Si' : 'No' }}</td>
                        <td>{{ proveedor.creadoEn ? proveedor.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('proveedor_detalles', {'id': proveedor.id}) }}'">Detalles</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('proveedor_update', {'id': proveedor.id}) }}'">Editar</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ path('proveedor_delete', {'id': proveedor.id}) }}'">Eliminar</button>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
